#container {
  width: 100%;
  display: flex;
  /* border-bottom: 1px solid #64748b; */
  margin: 2rem 0;
}

#container section {
  margin: auto 2rem;
}

#eventImage {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#eventDetail {
  width: 20vw;
}

#eventDetail div {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}
