.processSpin {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.processSpin::after {
  content: "";
  width: 50px;
  height: 50px;
  /* background: var(--main-secondary); */
  border: 7px solid #fb923c;
  border-top-color: transparent;
  /* border-top: none; */
  border-radius: 50%;
  animation: processSpin 1s linear infinite;
}

@keyframes processSpin {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 600px) {
  .processSpin::after {
    width: 30px;
    height: 30px;
  }
}
